.container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.list-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.prod-txt {
    display: flex;
    justify-content: center;
}
.txt-games {
    font-size: 7rem;
    font-weight: 700;
}