.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 100px;
}
.cards-container {
    width: 290px;
    height: 350px;
    border: 2px solid #676767;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    background: #ffffff;
}
.cards-container:hover {
    box-shadow: 0px 0px 8px 1px #000000a6;
}
.img-card {
    width: 100%;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
}
#body-title {
    font-size: 2.5rem;
}
#body-subtitle {
    font-size: 1.4rem;
}
.price-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.price-info h2 {
    font-size: 2.5rem;
    color: #ea1971;
    font-weight: 500;
}
.price-info2 {
    display: flex;
    flex-direction: row;
}
.price-ar {
    font-size: 2.5rem;
    color: #ea1971;
}
#price-subtitle {
    width: 177px;
    font-size: 1.5rem;
    color: #00a650;
    background-color: #d5ecd1;
    border-radius: 5px;
    text-align: center;
}
.card-btn {
    margin-top: 24px;
}
.buy-btn2 {
    font-size: 2rem;
    border: 2px solid #5301a2;
    border-radius: 33px;
    padding: 5px 11px;
    color: #5301a2;
}
.buy-btn2:hover {
    color: #ffffff;
    border: none;
    background: linear-gradient(0deg, rgba(83,1,162,1) 0%, rgba(252,0,107,1) 72%, rgba(255,120,0,1) 100%);
    cursor: pointer;
}